<% provide(:title, "About") %>

<title><%= yield(:title) %> | Telos</title>
<h1>About</h1>
<p>
    The Ruby on Rails Pokédex web application that helps budding Pokémon trainers develop and build positive habits - catching Pokémon.
    Users create an account with password and email. Then from their personal homepage users log their latest catch, inputting written text and images of the Pokémon.
    As your list of Pokémon grows so too will your reputation amongst other users. The application allows all users to view which Pokémon each other has caught.
    So the question remains? Will you be a master? A Pokémon master?
</p>
<p>
    This application was created as part of a take home project for Telos Labs.
    It was written in <a href="https://rubyonrails.org/" target="_blank" rel="noopener noreferrer">Ruby on Rails.</a>
    Using resources at <a href="http://www.railstutorial.org/" target="_blank" rel="noopener noreferrer">Ruby on Rails Tutorial</a>.
    This application was created by <a href="http://williambork.com/" target="_blank" rel="noopener noreferrer">William Bork.</a>
</p>