<% provide(:title, "Help") %>

<title><%= yield(:title) %> | Telos</title>
<h1>Help</h1>
<h2>
  To get help on becoming a Pokemon Master I recommend viewing these instructional tutorials below:
</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vfc42Pb5RA8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BSPQfN3fai4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  
