<footer class="footer">
  <small>
    Built with <a href="https://rubyonrails.org/" target="_blank" rel="noopener noreferrer">Ruby on Rails.</a>
    See the <a href="http://www.railstutorial.org/" target="_blank" rel="noopener noreferrer">Ruby on Rails Tutorial</a> for more.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", welcome_path %></li>
    </ul>
  </nav>
</footer>